[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "CNVrd2"]
	path = CNVrd2
	url = https://github.com/hoangtn/cnvrd2
	subdir = CNVrd2
